{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <img class="header-img" src="../static/figures/15-09-DS-SF-3468_small.jpg" alt="Photo of Sandra Guetg">
        <h1>Sandra Guetg</h1>
        <p class="lead">Data Scientist</p>
        <p><a href="https://www.linkedin.com/in/sandraguetg">www.linkedin.com/in/sandraguetg</a></p>
      </div>
<div class="inner cover">

  <h3>Who I am now</h3>
  <p>I am an analytical data scientist with creative problem solving skills and strong learning capabilities. My main interests are in gaining insights from data using supervised and unsupervised statistical learning and feature importance analysis. I have a Masters degree in Interdisciplinary Sciences, a Ph.D. in genetics and several years of research experience.</p>
  <h3>How I got there</h3>
  <p>I earned my PhD for driving my project from the high level idea of identifying genes responsible for stress tolerance acquisition through developing assays and data analysis algorithms to completion of a Matlab standalone application including GUI to access the results of a whole genome screen. Along the way, I solved various problems through quickly identifying the core issue and repurposing available tools or designing custom made algorithms. I also presented my work regularly at group or institute level meetings.<br>
  I discovered my passion for coding during my studies in the advanced computer science class Algorithms and Programming in C++, developed fluency in Matlab on the job and complemented my software design skills through a university level class held in Java.<br>
  After completing my PhD, I decided to move into Data Science where I could focus even more on handling and interpreting data while using my coding skills. Thus, I completed some online classes on Python, MySQL and Machine Learning and signed up for the Galvanize Data Science Immersive Program. At Galvanize, I gained hands-on experience analyzing various data sets and building diverse classification and regression models in both individual exercises as well as team case studies. While I did the majority of the analysis in Python using suitable libraries (including MRJob, PySpark), I also grew experienced in SQL and Flask/HTML while accessing data and coding web-applications, respectively.</p>
  <h3>Where I want to go</h3>
  <p>I am looking for an exciting data science position in the Palo Alto area where I can derive value from interesting datasets.</p>
</div>

{% endblock %}
