{% extends 'base.html' %}
{% block content %}
<div class="inner cover">
  <h1 class="cover-heading">Sandra Guetg</h1>
  <p class="lead">Data Scientist</p>
  <br><br>
  <p>I am an analytical data scientist with creative problem solving skills and strong learning capabilities. My main interests are in gaining insights from data using supervised and unsupervised statistical learning and feature importance analysis. I have a Masters degree in Interdisciplinary Sciences, a Ph.D. in genetics and several years of research experience.</p>
  <p>During my graduate studies in Switzerland I performed and analyzed a whole genome genetic screen for genes important for stress tolerance acquisition in yeast. Conducting this research, I developed lots of Matlab code performing a non-standard type of data analysis. I very much enjoyed coding and working with data, so after graduating I decided to become a data scientist. The Galvanize Data Science Immersive Program was perfect for this situation and allowed me to acquire the skills I need as a data scientist in a very efficient way.
</div>

{% endblock %}
