{% extends 'base.html' %}
{% block content %}
<div class="page-header">
        <h1>PriceYourHorse</h1>
        <p class="lead">Determine The Price Tag</p>
      </div>
<div class="inner cover">
  <div class="row">
   <div class="col-lg-6">
   <div class="well bs-component">
    <form class="form-horizontal" action='/predictor' method='POST'>
        <fieldset>
          <h2>Please select the characteristics of your horse</h2>
          <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Sex</label>
            <div class="col-lg-10">
              <select class="form-control" id="select" name="Sex">
                {% for sex in sexes %}
                <option>{{sex}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="breed" class="col-lg-2 control-label">Breed</label>
            <div class="col-lg-10">
              <select class="form-control" id="select" name="Breed">
                {% for breed in breeds %}
                <option>{{breed}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="color" class="col-lg-2 control-label">Color</label>
            <div class="col-lg-10">
              <select class="form-control" id="select" name="Color">
                {% for color in colors %}
                <option>{{color}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="temperament" class="col-lg-2 control-label">Temperament</label>
            <div class="col-lg-10">
              <select class="form-control" id="select" name="Temperament">
                {% for t in temperaments %}
                <option>{{t}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="pedigree" class="col-lg-2 control-label">Pedigree</label>
            <div class="col-lg-10">
              <select class="form-control" id="select" name="Pedigree">
                <option>no</option>
                <option>yes</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="height" class="col-lg-2 control-label">Height (hh)</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="height" placeholder="Height", name="Height (hh)">
            </div>
          </div>
          <div class="form-group">
            <label for="age" class="col-lg-2 control-label">Age (yrs)</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="age" placeholder="Age", name="Age">
            </div>
          </div>
          <div class="form-group">
                    <label for="skills" class="col-lg-2 control-label">Skills</label>
                    <div class="col-lg-10">
                      <div class="checkbox">
                        {% for skill in skills %}
                        <label>
                          <input type="checkbox", name="{{skill}}"> {{skill}}
                        </label>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
    </form>
    </div>
    </div>
  </div>
</div>
{% endblock %}
