{% extends 'base.html' %}
{% block content %}
<div class="inner cover">
  <p>PriceYourHorse simplifies the life of non-commercial horse buyers and sellers. No need to search manually through hundreds of ads to get a sense of the usual price range, just select the features of your animal and get a price estimate based on thousands of ads.</p>
  <p>PriceYourHorse is a 2-week cap-stone data science project performed in the context of the Data Science Immersive Program offered by <a href='http://www.galvanize.com/courses/data-science/'>Galvanize, San Francisco</a>. The program covers intensive courswork on hypothesis testing, regularized linear and logistic regression, supervised and unsupervised machine learning, natural language processing, recommender algorithms, dimensionality reduction, MapReduce/Spark and data visualization. This project brings together a broad range of those skills into a well rounded product. For more detailed information, click <a href='/details'>here</a>
</div>

<div class="col-lg-5">
  <p class="bs-component">
    <a href="/submit" class="btn btn-default btn-lg btn-block">Go To Predictor</a>
  </p>
</div>
{% endblock %}
